<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fake News predictor</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="h1 navbar-brand" href="#">Fake News predictor</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <center>
      <form action="/predict" method="POST">
        <div class="w-50 form-group m-4">
          <label for="newsBox">News</label>
          <input
            name="title"
            type="text"
            class="form-control rounded text-center"
            id="newsBox"
            aria-describedby="newsBox"
            placeholder="Enter the News."
          />
        </div>
        <button type="submit" class="btn btn-outline-success btn-lg m-4">Submit...</button>
      </form>


      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Model</th>
            <th scope="col">Prediction</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1.</th>
            <td>Logistic Regression</td>
            <td>{{LR}}</td>
          </tr>
          <tr>
            <th scope="row">2.</th>
            <td>Decision Tree</td>
            <td>{{DT}}</td>
          </tr>
          <tr>
            <th scope="row">3.</th>
            <td>Gradient Boosting</td>
            <td>{{GB}}</td>
          </tr>
          <tr>
            <th scope="row">4.</th>
            <td>Random Forest</td>
            <td>{{RF}}</td>
          </tr>
        </tbody>
      </table>
    </center>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
